@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1 class="text-center">Thank You for the confirmation</h1>
<h2 class="text-center">Please press on the Login button to continue in the website</h2>