@{
    ViewData["Title"] = "Home Page";
}
@*<div class="text-center bg-dark">
    <h1 class="display-4">Welcome</h1>
    <a href="#">Admin</a>
</div>*@
<h1 class="bg-dark text-light text-center">Welcome Admin To</h1>
    <img src="https://github.com/essieessara/KoraOnlineAdminPhotos/blob/main/KO2.png?raw=true" width="1108" />
<br />
<br />