@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center">KoraOnline Privacy Policy</h1>
<br /><br />
<img src="https://github.com/essieessara/KoraOnlineAdminPhotos/blob/main/PP.png?raw=true" width="1000"/>