@model KoraOnlineAdmin.Models.Stadium

@{
    ViewData["Title"] = "Edit";
}

<h1>Stadium Edit</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StadiumId" />
            <div class="form-group">
                <label asp-for="StadiumName" class="control-label"></label>
                <input asp-for="StadiumName" class="form-control" />
                <span asp-validation-for="StadiumName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SatdiumCapacity" class="control-label"></label>
                <input asp-for="SatdiumCapacity" class="form-control" />
                <span asp-validation-for="SatdiumCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityId"></select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
